# Manifest file
Manifest.toml

# Tests
*.jl.cov
*.jl.*.cov

# Documentation
docs/build
docs/site


# Commit message
[Nn]otes.txt
[Cc]ommit[Mm]essage*
[Cc]ommit[Mm]sg*
[Cc]ommit[-_][Mm]essage*
[Cc]ommit[-_][Mm]sg*

# Temp files
*~
*.[Tt]emp
[Tt]emp*
